
<div>
<div>
    <div>
        <div style="font-weight: bold">Details</div>
        <div style="color: red; float: right">Delete group</div>
        <img src="imgg.jpg" style="border-radius: 50%" width="100" height="100">
        <div><button>Edit group</button></div>
        <div style="font-weight: bold">EW123</div>
        <div>Last call: Today, 3:25 pm</div>
        <div style="font-weight: 600">Receiver 351</div>
    </div>
</div>  <!-- end header-->

<div>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Compaign</th>
            <th>Phone number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Attribute</th>
            <th></th>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>
        <tr>
            <td>351</td>
            <td>Compaign Name</td>
            <td>+496259530</td>
            <td>Last Name</td>
            <td>Frist Name</td>
            <td>Any Attribute</td>
        </tr>

    </table>
    <div>
        <div><button>Edit receiver</button></div>
        <div><button>Export </button></div>
        <div><button class="btn btn-success">Record Call</button></div>
        <div>Back</div>
    </div>
</div>
</div>