

<div>
    <h1>History</h1>
    <b>Calls 10</b>
    <table class="table">
        <tr>
            <td>
                <img src="imgg.jpg" style="border-radius: 50%;vertical-align: top" width="75" height="75">
                <div style="display: inline-block;margin-left: 6px">
                    <span>EW123</span><br>
                    <span style="color: grey;font-size: 13px">Today,3:52 pm</span><br>
                    <span style="color: grey;font-size: 13px">351 reciever</span>
                </div>
            </td>
            <td>
                <span>Reached:</span><br>
                <span style="color: orange;">348</span>
            </td>
            <td>
                <span>Not reached:</span><br>
                <span style="color: red;">3</span>
            </td>
            <td>
                <span>ICA:</span><br>
                <span class="badge">3</span><span> 229</span><br>
                <span class="badge">3 </span><span> 19</span>
            </td>
            <td></td>
            <td>
                <span>Expires:</span><br>
                <span>27 days</span>
                <span></span>
            </td>
            <td>Details</td>
        </tr>
        <tr>
            <td>
                <img src="imgg.jpg" style="border-radius: 50%;vertical-align: top" width="75" height="75">
                <div style="display: inline-block;margin-left: 6px">
                    <span>EW123</span><br>
                    <span style="color: grey;font-size: 13px">Today,3:52 pm</span><br>
                    <span style="color: grey;font-size: 13px">351 reciever</span>
                </div>
            </td>
            <td>
                <span>Reached:</span><br>
                <span style="color: orange;">348</span>
            </td>
            <td>
                <span>Not reached:</span><br>
                <span style="color: red;">3</span>
            </td>
            <td>
                <span>ICA:</span><br>
                <span class="badge">3 </span><span> 229</span><br>
                <span class="badge">3 </span><span> 19</span>
            </td>
            <td></td>
            <td>
                <span>Expires:</span><br>
                <span>27 days</span>
                <span></span>
            </td>
            <td>Details</td>
        </tr>
        <tr>
            <td>
                <img src="imgg.jpg" style="border-radius: 50%;vertical-align: top" width="75" height="75">
                <div style="display: inline-block;margin-left: 6px">
                    <span>EW123</span><br>
                    <span style="color: grey;font-size: 13px">Today,3:52 pm</span><br>
                    <span style="color: grey;font-size: 13px">351 reciever</span>
                </div>
            </td>
            <td>
                <span>Reached:</span><br>
                <span style="color: orange;">348</span>
            </td>
            <td>
                <span>Not reached:</span><br>
                <span style="color: red;">3</span>
            </td>
            <td>
                <span>ICA:</span><br>
                <span class="badge">3 </span><span> 229</span><br>
                <span class="badge">3 </span><span> 19</span>
            </td>
            <td></td>
            <td>
                <span>Expires:</span><br>
                <span>27 days</span>
                <span></span>
            </td>
            <td>Details</td>
        </tr>
        <tr>
            <td>
                <img src="imgg.jpg" style="border-radius: 50%;vertical-align: top" width="75" height="75">
                <div style="display: inline-block;margin-left: 6px">
                    <span>EW123</span><br>
                    <span style="color: grey;font-size: 13px">Today,3:52 pm</span><br>
                    <span style="color: grey;font-size: 13px">351 reciever</span>
                </div>
            </td>
            <td>
                <span>Reached:</span><br>
                <span style="color: orange;">348</span>
            </td>
            <td>
                <span>Not reached:</span><br>
                <span style="color: red;">3</span>
            </td>
            <td>
                <span>ICA:</span><br>
                <span class="badge">3 </span><span> 229</span><br>
                <span class="badge">3 </span><span> 19</span>
            </td>
            <td></td>
            <td>
                <span>Expires:</span><br>
                <span>27 days</span>
                <span></span>
            </td>
            <td>Details</td>
        </tr>
        <tr>
            <td>
                <img src="imgg.jpg" style="border-radius: 50%;vertical-align: top" width="75" height="75">
                <div style="display: inline-block;margin-left: 6px">
                    <span>EW123</span><br>
                    <span style="color: grey;font-size: 13px">Today,3:52 pm</span><br>
                    <span style="color: grey;font-size: 13px">351 reciever</span>
                </div>
            </td>
            <td>
                <span>Reached:</span><br>
                <span style="color: orange;">348</span>
            </td>
            <td>
                <span>Not reached:</span><br>
                <span style="color: red;">3</span>
            </td>
            <td>
                <span>ICA:</span><br>
                <span class="badge">3 </span><span> 229</span><br>
                <span class="badge">3 </span><span> 19</span>
            </td>
            <td></td>
            <td>
                <span>Expires:</span><br>
                <span>27 days</span>
                <span></span>
            </td>
            <td>Details</td>
        </tr>
    </table>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">First</button>
        <button type="button" class="btn btn-default">Previous</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">Next</button>
        <button type="button" class="btn btn-default">Last</button>
    </div>
</div>