
<div>
    <div style="margin-top: 20px;margin-bottom: 20px;">HOME</div>
    <div style="margin-bottom: 10px;">Group 14<span style="margin-left: 12px">  <a href="">see all</a></span></div>

    <div class="all-groups">
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 group-header" >
            <img src="imgg.jpg" alt="group member"><div>Group</div>
        </div>
    </div>

    <div class="section" >
        <div style="margin-top: 145px;">History 10 <span><a href="#">show all</a></span></div>
    </div>

    <div class="groups-section">
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>EW123</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 1</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 2</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 3</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 4</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 5</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 6</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 7</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 8</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
        <div class="group col-lg-5 col-sm-12">
            <img src="imgg.jpg"><div style="display: inline-block;margin-left: 15px"><span>group 9</span><br><span>Today 2:00pm</span><br><span>351 receiver</span></div>
        </div>
    </div>
</div>