<div>
    <h1>My account</h1>

    <label>Name:<br><input type="text"></label><br>
    Last Name:<br><input type="text"><br>
    Role<br>
    Administrator<br>
    <label>Phone number<br>
        <input type="number"></label><br>
    <label>Email<br>
        <input type="email"></label><br>
    change password<br>
    <label>old password<br>
        <input type="password"></label><br>
    <label>New password<br>
        <input type="password"></label><br>
    <label>Repeat new passsword<br>
        <input type="password"></label><br>
    <button>Save changes</button><br>
    back
</div>