
<div>
    <h2>Admin  Tools</h2>

    <h3>user</h3>

    <table class="table table-bordered user-list">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Nigal</td>
            <td>Brandon</td>
            <td>+491234567</td>
            <td>n.brandon@ew.com</td>
            <td>Administrator   <span style="color: red;margin-left: 50px;margin-right: 10px "> delete </span><span> edit </span></td>
        </tr>
        <tr>
            <td>Renee</td>
            <td>Tamika</td>
            <td>+493234567</td>
            <td>r.tamika@ew.com</td>
            <td>Editor</td>
        </tr>
        <tr>
            <td>Leyla</td>
            <td>Schulze</td>
            <td>+491234587</td>
            <td>l.schulze@ew.com@ew.com</td>
            <td>Editor</td>
        </tr>
        <tr>
            <td>Benjamin</td>
            <td>Horn</td>
            <td>+494334567</td>
            <td>b.horn@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Braden</td>
            <td>Bird</td>
            <td>+496544567</td>
            <td>b.bird@ew.com@ew.com</td>
            <td>Editor</td>
        </tr>
        <tr>
            <td>Seth</td>
            <td>Tennison</td>
            <td>+496534567</td>
            <td>s.tennison@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Pamela</td>
            <td>Scott</td>
            <td>+496834567</td>
            <td>p.scott@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Albrecht</td>
            <td>Kohl</td>
            <td>+491234589</td>
            <td>a.kohl@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Rosemarie</td>
            <td>Waller</td>
            <td>+496987526</td>
            <td>r.waller@ew.com</td>
            <td>Editor</td>
        </tr>
        <tr>
            <td>Gunter</td>
            <td>Hodge</td>
            <td>+493689568</td>
            <td>g.hodge@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Rodney</td>
            <td>Ware</td>
            <td>+491234567</td>
            <td>r.ware@ew.com</td>
            <td>Sender</td>
        </tr>
        <tr>
            <td>Dayton</td>
            <td>Grunzeewald</td>
            <td>+499568954</td>
            <td>d.grunzeewald@ew.com</td>
            <td>Editor</td>
        </tr>
        </tbody>
    </table>
    <div>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <input type="text" placeholder="FirstName">
        <input type="text" placeholder="LastName">
        <input type="number" placeholder="PhoneNumber">
        <input type="email" placeholder="Email">
        <select>
            <option>Role</option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <button class="add-btn">add</button>
    </div>
    <div class="btn-save-change">
        <button class="btn btn-success">Save changes</button>
    </div>
    <div>Back</div>
</div>